 [Unit]
 Description=FireFly main service
 After=multi-user.target

 [Service]
 Type=idle
  WorkingDirectory=/home/pi
 ExecStart=/usr/bin/python3  /home/pi/github/KeynoRobot/src/KeynoRobot/__main__.py & > /home/pi/Documents/KeynoRobot.log 2>&1
 User=pi
 
 [Install]
 WantedBy=multi-user.target

